<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>PLLLLLZ WORK</title>
</head>
<body>
    {{>headers}}
    {{{body}}}
    {{>footer}}
</body>
</html>