<h1>HELLO WORLD</h1>
{{#each products}}
  <div class= "products">
    <form>
      <h1>name: <input type="text" name="name"></h1>
      <h1>price: <input type="text" name="price"></h1>
      <h1>inventory: <input type="text" name="inventory"></h1>
  </div>
{{/each}}