<h1>Edit Your List</h1>

<form action="/products/" method="post" id="editProduct" name="editProduct">
  <label name="name">Product Name</label>
  <input type="text" name="name" placeholder="enter names" style="text-align: center">
    <br>
  <label name="name">Price</label>
  <input type="text" name="price" placeholder="enter amount" style="text-align: center">
    <br>
  <label name="name">Inventory</label>
  <input type="text" name="inventory" placeholder="enter inventory" style="text-align: center">
    <br>
  <input id= "editProduct" type="submit" value="Edit Product">

 </form>