<h1>Products</h1>
{{#each productList}}
  <div class= "productList">
    <form>
      <h1>name: {{name}} </h1>
      <h1>price: {{price}}</h1>
      <h1>inventory: {{{inventory}}</h1>
  </div>
{{/each}}