<h1>Make a Product List</h1>

<form action="/products/" method="post" id="newProduct" name="newProduct">
  <label name="name">Product Name</label>
  <input type="text" name="name" placeholder="enter names" style="text-align: center">
    <br>
  <label name="name">Price</label>
  <input type="text" name="price" placeholder="enter amount" style="text-align: center">
    <br>
  <label name="name">Inventory</label>
  <input type="text" name="inventory" placeholder="enter inventory" style="text-align: center">
    <br>
  <input id= "newProduct" type="submit" value="Add Product">

 </form>