<h1>Products</h1>

<form action="/products" method="post">
  <label name="name">Product Name</label>
  <input type="text" name="name" placeholder="enter names" style="text-align: center">
    <br>
  <label name="name">Price</label>
  <input type="text" name="price" placeholder="enter amount" style="text-align: center">
    <br>
  <label name="name">Inventory</label>
  <input type="text" name="inventory" placeholder="enter inventory" style="text-align: center">
    <br>
  <input type="submit" name="submit">
</form>

<h1>Your Product List</h1>

{{#each postProducts}}
  <div class="postProducts">
    Product Name: {{name}}
    <br>
    Price: ${{price}}
    <br>
    Inventory: {{inventory}}
  </div>
    <br>
{{/each}}